.home__container {
  position: relative;
  padding-top: 2rem;
  row-gap: 4.5rem;
}

.home__data {
  text-align: center;
}

.home__greeting,
.home__job {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__greeting {
  display: block;
  margin-bottom: 0.25rem;
  color: var(--title-color);
}

.home__job {
  margin-bottom: 2.5rem;
  color: var(--text-color);
}

.home__name {
  font-size: var(--biggest-font-size);
}

.home__img {
  width: 160px;
}

.home__handle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-self: center;
  width: 190px;
  height: 293px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    hsla(250, 66%, 75%, 1),
    hsla(250, 66%, 75%, 0.2)
  );
  border-radius: 10rem 10rem 1rem 1rem;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social,
.home__scroll {
  position: absolute;
}

.home__social {
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: 0.5rem;

  &::after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
  }
}

.home__social-link {
  display: flex;
  width: max-content;
  padding: 0.25px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: var(--container-color);
  color: var(--first-color);
  transition: 0.4s;

  &:hover {
    background-color: var(--first-color);
    color: #fff;
  }
}

.home__scroll {
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
  color: var(--first-color);
}

.home__scroll-icon {
  font-size: 1.25rem;
}

.home__scroll-name {
  font-size: var(--smaller-font-size);
  rotate: -90deg;
}

.button {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--first-color);
  font-weight: var(--font-medium);
  color: var(--body-color);
  transition: 0.4s;

  &:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);
  }
}

.button--ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
