.services__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(219, 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  visibility: hidden;
  place-items: center;
  opacity: 0;
  transition: 0.4s;
  z-index: var(--z-modal);
}

.services__modal-content {
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services__modal-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.services__modal-list {
  display: grid;
  row-gap: 0.75rem;
}

.services__modal-item {
  display: flex;

  align-items: center;
  column-gap: 0.5rem;
}

.services__modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.services__modal-info {
  font-size: var(--small-font-size);
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.active-modal {
  opacity: 1;
  visibility: visible;
}
